.card__like-button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    height: 18.13px;
    width: 23px;
    transition: 0.005s linear;
    background: url("../../../images/like.svg") no-repeat;
}

.card__like-button:hover {
    opacity: 0.5;
} 
