.profile__description {
    margin:0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 295px;
}

@media screen and (max-width: 600px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 0;
        max-width: 190px;
    }
}