.button_close {
    position: absolute;
    top: -45px;
    right: -30px;
    width: 40px;
    height: 40px;
}

.button_close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .button_close {
        right: 0px;    
    }
}
