.profile__info {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: 39px 20px;
    gap: 16px 18px;
    max-width: 472px;
    margin-right: 244px;
    margin-left: 25px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        margin: 22.25px auto 36px;
        gap: 10px;
    }
}

@media screen and (max-width: 360px) {
    .profile__info {
        margin-left: 65px;
    }
}