.footer {
    max-width: 880px;
    margin: 67px auto 0;
    display: flex;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 584px;  
    }
}

@media screen and (max-width: 600px) {
    .footer {
        max-width: 282px;  
        margin-top: 48px;
    }
}