.edit__save-button {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #000000;
    border-radius: 2px;
    width: 358px;
    min-height: 46px;
    max-height: 50px;
    transition: 0.5s linear;
}

.edit__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 440px) {
    .edit__save-button {
        min-width: 238px;
        width: auto;
        font-size: 14px;
        line-height: 17px;
    }
}